.root {
  -fx-background-color: #1aab87;
}

.scroll-pane,
.scroll-pane .viewport {
  -fx-background-color: #1dc097;
}

.user_dialog_box {
  -fx-background-color: #d1f2eb;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
  -fx-font-size: 13px;
}

.rickshaw_dialog_box {
  -fx-background-color: #e1f5fe;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
  -fx-font-size: 13px;
}
