.root {
  -fx-background-color: #f5f5f5;
  -fx-font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

.user_dialog_box {
  -fx-background-color: #d1f2eb;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
  -fx-font-size: 13px;
}

.rickshaw_dialog_box {
  -fx-background-color: #e1f5fe;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
  -fx-font-size: 13px;
}
